<%- include('parts/html-head') %> <%- include('parts/html-navbar') %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <form name="form1" onsubmit="sendData(event)" novalidate>
              <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
                <div class="form-text"></div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                />
                <div class="form-text"></div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login Error</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          Email or Passoword error
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<%- include('parts/html-script') %>
<script>
  const emailField = document.form1.email;
  const modal = new bootstrap.Modal("#exampleModal");

  function validateEmail(email) {
    const re =
      /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  const sendData = function (e) {
    e.preventDefault(); //不要用傳統的表單送出，使用AJAX

    emailField.nextElementSibling.innerHTML = "";
    emailField.style.border = "1px solid #ccc";

    let isPass = true; //表單有沒有通過檢查

    //TODO: 表單欄位的資料檢查

    if (!validateEmail(emailField.value)) {
      isPass = false;
      emailField.nextElementSibling.innerHTML =
        "Please fill in the right email";
      emailField.style.border = "1px solid red";
    }

    if (isPass) {
      const payload = {
        email: emailField.value,
        password: document.form1.password.value,
      };

      fetch("", {
        method: "POST",
        body: JSON.stringify(payload),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((r) => r.json())
        .then((result) => {
          console.log(result);
          if (result.success) {
            const usp = new URLSearchParams(location.search);
            // 如果有指示登入後要前往的頁面
            if (usp.get("u")) {
              location.href = usp.get("u");
            } else {
              location.href = "/";
            }
          } else {
            modal.show();
          }
        })
        .catch((ex) => console.log(ex));
    }
  };
</script>
<%- include('parts/html-tail') %>
